#wrapper{
    width: 800px;
    margin: 0 auto;

}
#banner {
    width: 800px;
    height: 100px;
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

#wrapper2{
    
    display: flex;
}
#nav{
    width: 100px;
    height: 200px;
    background-color:gray;
    flex: auto;
}

#info{
    background-color: gray;
    margin-left: auto;
}

#content {
    width: 600px;
    height: 400px;
    background-color:azure;
    
}

#footer {
    width: 800px;
    height: 50px;
    background-color:darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
}
#supporting {
    width: 100px;
    height: 150px;
}

ul {
    list-style-type: none; /* 移除點 */
}

